.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin: 10px;
  min-width: 100px;
  padding: 5px;
}

.close {
  display: flex;
  justify-content: center;
}

.reset {
  background-color: red;
}
